@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <img src="/images/banana.jpg"
                style="width: 20px; height: 20px; border-radius: 10px; border: 2px #319191 solid;">Hi
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
